body{
    background: #222222;
    color: white;
    text-align: center;
    padding: 30px;
}

div.heroToSelect a img{
    width: 100%;
    height: 100%;
}

.logo img{
    width: 300px;
}

.startButtons{
    padding: 10px;
}

.gameButtons{
    font-weight: bold;
    font-size: 28px;
    background-color: #1FDA12;
    color: white;
}

.gameButtons:hover , .gameButtons:active{
     font-weight: bold;
     font-size: 28px;
     background-color: #20EB12 !important;
     color: white !important;
}


.progress {
position: relative;
background: rgba(43, 40, 40, 1);
border-radius: 0px;
height: 25px;
width: 40%;
margin: 20px auto 20px auto;
}

.progress-bar {
background: rgba(31, 218, 18, 1);
}

.startGame{
    float: right;
    margin-top: -70px;
}

.heroData img{
    width: 100%;
    height: 100%;
}

.heroData {
    padding: 30px 30px 10px 30px;
    background: #2B2828;
    width: 250px;
    margin: auto;
    margin-top: 20px;
}

.nameDiv{
    background-color: #F01D22;
    color: white;
    text-decoration: none;
}

.leadData{
padding-top:10px;
}

.orderNum{
font-size: 18px;
}


/***************** duel game > hero div style *****************/
.heroToSelect{
    display: inline-block;
    padding: 20px;
    width: 300px;
    height: 350px;
}

.greenMark{
background-color: #1FDA12;
}

.redMark{
background-color: #FF0000;
}

.circle {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	font-size: 50px;
	    margin: auto;

}

.beforeSelectDiv {
    position: relative;
    width: 100%;
    height: 100%;
}

.afterSelectDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 108%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    }

.markDiv {
   margin-top: 120px;
}

.heroClick{
text-decoration: none !important;
}

.progressValue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
}

.progressValue span{
vertical-align: middle;
}